@charset "utf-8";

body {
	color: #212121;
	font-family:Arial,'微软雅黑';
	font-size: 14px;
	font-color:white;
	background: white;
	background-size:cover;
	background-attachment: fixed;
}
/*-------------------------------header------------------------------------*/
header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	text-align: middle;
	margin: 0px;
	background-color: white;
	z-index: 1;
}

.nav>li>a{
	padding: 15px 35px;

}

.navbar .nav > li .dropdown-menu {
margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
display: block;
}


/*---------------------------------footer------------------------------------*/
footer{
	background-color: white;
}

footer .container-fluid{
	width: 90%;
}


.friend-link{
	text-align: center;
	margin:15px auto;
	color: #b4bbbf;

}

.friend-link>a{
     color: #b4bbbf;
}

.col-md-12{
	text-align: center;
	margin:0px;
}

.container-fluid .row .col-md-2 >a{
	margin: 15px 10px;
        float: left;
}
.github{
	width: 24px;
	height: 24px;
}
.copyright{
	text-align: center;
	margin:5px auto  20px;
	
}

.row{
	margin-top: 15px;
}

.btn{
	margin-top: 10px;
}
