@charset "utf-8";


body {
	color: #212121;
	font-family:Arial,'微软雅黑';
	font-size: 14px;
	font-color:white;
	background: white;
	background-size:cover;
	background-attachment: fixed;
}

/*-------------------------------header------------------------------------*/
header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	text-align: middle;
	margin: 0px;
	background-color: white;
	z-index: 1;
}

.nav>li>a{
	padding: 15px 35px;

}

.navbar .nav > li .dropdown-menu {
margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
display: block;
}

/*---------------------------------main body-------------------------------------*/
.mainbody{
	margin-top: 50px;

}

.container{
	width: 80%;
}
/*-------------------------------footer------------------------------------*/
footer{
	background-color: white;
}



.friend-link{
	text-align: center;
	margin:7px auto;
	color: #b4bbbf;

}

.friend-link>a{
     color: #b4bbbf;
}
.col-md-12{
	text-align: center;
	margin:0px;
}

.github{
	background-image: url(../date/github.png);
	width: 32px;
	height: 32px;
}
.copyright{
	text-align: center;
	margin:7px auto;
	
}

.row{
	margin-top: 15px;
}

.btn{
	margin-top: 10px;
}